<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LitLog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav>
        <a href="/logout">Logout</a>
        <a href="/new/post">Log a Lit</a>
        <a href="/profile/{{ user.id }}">Profile</a>
        <h1>Welcome, {{ user.first_name }}!</h1>
    </nav>
    <h6>You have read 10 books so far this year.</h6>
    <h4>My Books</h4>
    {% for post in posts %}
    <ul>
        <li><a href="/view/post/{{ post.id }}">{{ post.title }}</a> by {{ post.author }}</li>
    </ul>
    {% endfor %}
</body>
</html>